.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.new-poll, .poll-posted {
  text-align: center;
}

.new-poll button {
  width: 186px !important;
  height: 40px !important;
  padding: 6px 12px !important;
  display: block !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle !important;
  margin-left: 90px;
}

.graph h1, .graph canvas {
  text-align: center;
}

.allpolls li button {
  /*border: 10px solid red;*/
  float: right;
  margin-top: -8px;
  width: 80px !important;
}

.allpolls ul {
  margin-top: 20px;
}

.allpolls button {
  width: 200px !important;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.fa {
  font-size: 5em;
}

.fa-bolt {
  color: #FAEA73;
}

.fa-globe {
  color: #5CB85C;
}

.fa-facebook {
  color: #4393B9;
}

/* TODO: add button styles that apply to all buttons to make them look like VotePlex buttons */
