<div>
  <div ng-show="page==='newPoll'">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 new-poll">
    <h2>New Poll</h2>
    <form  ng-submit="addPoll()" class="ng-pristine ng-invalid ng-invalid-required">
      <div class="form-group">
        <label for="name">Name your poll.</label>
        <input id="name" ng-model="pollName.name" novalidate="" name="poll" placeholder="What is your favorite brand?" class="form-control ng-untouched ng-scope"/>
        {{pollName.name}}
      </div>
      <div class="form-group">
        <label>Options</label>
        <input ng-repeat="n in placeholders track by $index" ng-model="pollOptions[$index]" placeholder="{{placeholders[$index]}}" class="form-control ng-untouched ng-scope"/>
      </div>
      <div class="form-buttons" width="350px">
        <button type="button" ng-click="addOption()" class="btn btn-default">More Options</button>
        <br>
        <button type="submit" class="btn btn-success" disabled="disabled" ng-disabled="poll.$invalid">Submit</button>
      </div>
    </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
