<div ng-show="page==='vote'">
    <div class="col-lg-4">
    <h1 class="">{{votePollName}}?</h1>
    <p class="lead">by {{votePollCreator}}</p>
    </div>
    <div class="col-lg-4">
      <form ng-submit="addVote()">
        <ul>
          <li ng-repeat="item in votePollOptions track by $index">
            {{item}}
            <input type="radio" name="option" value="{{$index}}"/>
          </li>

        </ul>
        <br>
        <button type="submit"> Submit </button>
      </form>
    </div>
    <div class="col-log-4">
    </div>
</div>
